# ===== Build tools =====
.gradle/
build/
target/

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# ===== IDEs =====

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===== OS =====
.DS_Store

# ===== Logs =====
*.log